<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INoteService" />
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/NoteService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INoteService" contract="NoteService.INoteService"
                name="BasicHttpBinding_INoteService" />
            <endpoint address="http://localhost:9001/UserService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="UserService.IUserService"
                name="BasicHttpBinding_IUserService" />
        </client>
    </system.serviceModel>
</configuration>