<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="noteServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="userServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="TakeMyNote.WcfServices.NoteService" behaviorConfiguration="noteServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/NoteService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:9001/NoteService" binding="basicHttpBinding" contract="TakeMyNote.WcfServices.INoteService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="TakeMyNote.WcfServices.UserService" behaviorConfiguration="userServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/UserService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:9001/UserService" binding="basicHttpBinding" contract="TakeMyNote.WcfServices.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>