<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="noteServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="TakeMyNote.WcfService.NoteService" behaviorConfiguration="noteServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/NoteService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:9001/NoteService" binding="basicHttpBinding" contract="TakeMyNote.WcfService.INoteService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>