<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <entityFramework>
    <providers>
      <!--for EF6.0.x -->
      <!--you need this. add it manually-->
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="NotesDatabase"
         connectionString="User ID=postgres;Password=postgres;Host=localhost;Port=5432;Database=damienbod;Pooling=true;" />
  </connectionStrings>
</configuration>
